[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "covsep"]
	path = covsep
	url = https://github.com/stavakol/covsep
	shallow = true
	registered = true
